html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of css reset*/

@font-face {
  font-family: "HemiHead-Bold";
  src:
    url("fonts/HemiHead-Bold.woff2") format("woff2"),
    url("fonts/HemiHead-Bold.woff") format("woff"),
    url("fonts/HemiHead-Bold.otf") format("opentype"); /* Include the OTF as a fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HemiHead-BoldItalic";
  src:
    url("fonts/HemiHead-BoldItalic.woff2") format("woff2"),
    url("fonts/HemiHead-BoldItalic.woff") format("woff"),
    url("fonts/HemiHead-BoldItalic.otf") format("opentype"); /* Include the OTF as a fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
nav {
  grid-column: 1/13;
  height: 10vh;
  display: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  margin-top: 2vh;
  background-color: rgba(0, 0, 0, 0.2);
}
/*
nav a {
  color: black;
  text-decoration: none;
  font-family: "HemiHead-Bold";
  text-align: center;
  margin: auto;
}
  */
nav h1 {
  color: black;
  text-decoration: none;
  font-family: "HemiHead-Bold";
  font-size: 3em;
  text-align: center;
  margin: auto;
}
#projects-button {
  grid-column: 2/5;
}
nav h1:hover {
  cursor: pointer;
}

#nav-icon-div {
  width: 100%;
  grid-column: 6/8;
  height: inherit;
display: flex;
  justify-content: center;
}
#nav-icon:hover {
  cursor: pointer;
}

#contact-button {
  grid-column: 9/12;
}
#nav-icon-div svg{
  height:inherit;
}

#title-section{
  height:88vh;
grid-column: 1/13;  
display: grid;
grid-template-columns: inherit;
grid-template-rows: repeat(8, 1fr);
}
#title{
  grid-column: 3/11;
  margin: auto;
  grid-row: 1/5;
  text-align: center;
  font-size: 5em;
    text-decoration: none;
  font-family: "HemiHead-Bold";
}